################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


.vs
/*/bin/*
/*/obj/*

*/bin/*
*/obj/*
/samples/FileStore/bin/Debug/net10.0/AsyncKeyedLock.dll
